*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.leaflet-control-attribution {
    display: none !important;
}

.leaflet-div-icon {
    background: transparent !important;
    border: none !important;
}